@font-face {
  font-family: ProximaNova-Light;
  src: url("../font/ProximaNova-Light.otf"); }
@font-face {
  font-family: ProximaNova-Sbold;
  src: url("../font/ProximaNova-Sbold.otf"); }
/* Vertical-aligning function */
body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  font-size: 1em;
  display: block;
  color: #191917;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue; }

.top-bar {
  background-color: #518dca;
  width: 100%;
  height: 7%;
  border-bottom: 2px solid black; }

.logo {
  padding-left: 0.5em;
  padding-top: 0.5em; }

.left-bar {
  display: inline-block;
  width: 16%;
  height: 93%;
  background-color: #2c3e50;
  float: left; }

.left-bar-section {
  height: 14em;
  width: 100%; }

.section-title {
  width: 100%;
  height: 2.5em;
  text-align: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  background-color: #4f657b; }

.title-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8ea2b9;
  font-family: ProximaNova-sbold;
  font-size: 1.2em; }

.button-container {
  width: 100%;
  height: 15.5em; }

.panel-button {
  width: 48%;
  height: 49%;
  min-width: 2em;
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  z-index: 999;
  padding-right: 2px; }

.panel-button.top-panel {
  border-bottom: 2px solid black; }

.elements {
  height: 18em; }

.panel-content {
  width: 60%;
  height: 4.2em;
  text-align: center;
  color: #4f657b;
  font-family: ProximaNova-sbold;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  cursor: pointer; }

.panel-logo {
  height: 4em; }

.templates-content {
  height: 11.5em;
  width: 100%; }

.page-button {
  background-color: #518dca;
  width: 75%;
  height: 2em;
  margin: auto;
  margin-top: 0.5em;
  border-radius: 2px;
  position: relative; }

.page-button-text {
  color: white;
  margin-left: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: ProximaNova-sbold;
  font-size: 14px; }

.blue {
  background-color: #518dca;
  margin-top: 1em; }

.red {
  background-color: #d86a65; }

.darkgray {
  background-color: #4f657b; }

.add-page-button-text {
  color: #4f657b;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: ProximaNova-sbold;
  font-size: 12px;
  font-weight: 700;
  display: table-cell;
  vertical-align: middle; }

.add-page-button {
  width: 74%;
  height: 2em;
  margin: auto;
  margin-top: 0.5em;
  border-radius: 2px;
  background-color: #2c3e50;
  border: 2px solid #4f657b;
  display: table;
  border-collapse: separate;
  border-spacing: 10px 0px;
  position: relative; }

.add-page-logo {
  display: table-cell;
  height: 1.2em;
  width: 1.5em;
  border-collapse: separate;
  border-spacing: 5px 0px;
  vertical-align: middle;
  cursor: pointer; }

.scaled {
  width: 100%;
  height: 100%; }

.add-page-input {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 5;
  width: 80%;
  height: 100%;
  color: white;
  font-family: ProximaNova-sbold;
  font-size: 14px; }

textarea:focus, input:focus {
  outline: 0; }

.site-grid {
  width: 100%;
  height: 6em;
  border-bottom: 2px solid #232323; }

.site-grid-text {
  margin-top: 2em;
  text-align: center;
  color: #4f657b;
  font-family: ProximaNova-sbold;
  font-weight: 700;
  font-size: 1em;
  width: 48%;
  float: left; }

.site-grid-logo-container {
  width: 48%;
  float: left;
  cursor: pointer; }

.site-grid-logo {
  width: 70%;
  margin-top: 20px; }

.templates-title {
  border-top: none; }

.main {
  height: 93%;
  width: 83%;
  display: inline-block; }

.page-tab-container {
  width: 100%;
  height: 15%; }

.page-tabs {
  height: 40%;
  width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.page-tab {
  height: 100%;
  width: 150px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #4f657b;
  color: #4f657b;
  margin-right: 3px;
  cursor: pointer; }

.page-tab-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: proximanova-sbold; }

.selected {
  border: 2px solid #4f657b;
  background-color: #97aabc;
  color: white; }

.remove-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 10px;
  height: 70%;
  margin: auto;
  cursor: pointer;
  opacity: 0; }

.remove-logo {
  height: 100%; }

.remove {
  background-color: #d86a65; }

.add-image-container {
  height: 35%;
  width: 80%;
  margin: auto;
  background-color: #eff2f5;
  border: 2px solid #97aabc;
  border-radius: 5px;
  display: table; }

.add-image-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.add-image-text {
  position: relative;
  font-family: proximanova-sbold;
  color: #828F9B;
  display: inline;
  cursor: pointer;
  font-size: 14px; }

.plus-logo {
  display: inline; }

.plus-img {
  height: 12px; }

.add-image-title {
  display: inline; }

.image-placeholder {
  cursor: pointer; }

.article-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  height: 40%;
  color: #4f657b; }

.article-title {
  font-family: proximanova-sbold;
  font-size: 32px;
  margin-bottom: 2%; }

.article-text {
  line-height: 2;
  font-size: 0.9em;
  width: 100%;
  float: left; }

.input-box-container {
  float: left;
  width: 49%;
  height: 80%;
  display: none; }

.border {
  position: absolute;
  display: inline-block;
  margin: auto;
  height: 0;
  width: 0; }

.left-border {
  left: -3;
  top: 0;
  bottom: 0; }

.right-border {
  right: 3;
  top: 0;
  bottom: 0; }

.bottom-border {
  bottom: -3;
  left: 0;
  right: 0;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform: rotate(270deg);
  -o-transform-origin: 50% 50%;
  transform: rotate(270deg);
  transform-origin: 50% 50%; }

.input-text-container {
  width: 100%;
  height: 80%; }

.input-text {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.9em; }

.input-box {
  margin-left: 25px;
  border: 2px solid #8fc7ff;
  position: relative;
  min-width: 100px; }

.corner {
  top: -2;
  right: 33; }

div:focus {
  outline: 0px solid transparent; }

.corner-hover {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 99;
  cursor: pointer; }

.delete {
  border: 2px solid #ef7a74; }

.left-resize {
  position: absolute;
  left: -10;
  top: 40;
  bottom: 0;
  height: 50px;
  margin: auto;
  cursor: pointer;
  width: 20px; }

.right-resize {
  position: absolute;
  right: -10;
  top: 40;
  bottom: 0;
  height: 50px;
  margin: auto;
  cursor: pointer;
  width: 20px; }

.bottom-resize {
  position: absolute;
  left: 40;
  right: 0;
  bottom: -10;
  height: 20px;
  margin: auto;
  cursor: pointer;
  width: 60px; }

.file-input {
  position: absolute;
  top: -200; }

.display-image {
  width: 40%;
  height: 35%;
  margin: auto;
  display: none;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  z-index: 999;
   }

.image-draggable-zone {
  position: absolute;
  width: 80%;
  height: 40%;
  display: none;
}

@media (max-width: 1100px) {
  .left-bar {
    -moz-transform: scale(0.8, 0.8);
    /* Moz-browsers */
    zoom: 0.8;
    /* Other non-webkit browsers */
    zoom: 80%;
    /* Webkit browsers */ } }

/*. sourceMappingURL=output.css.map */
